

   body {
    background: url(../img/94.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  #main-header .card img {
    width: 50%;
  }

  #main-header .card {
    border-radius: 15px;
    opacity: 0.9;
  }


#main-header .port-item {
  width: 25%;
  height: 100%;
}

#main-header .p-4 {
  font-family: 'Kite One', sans-serif;
}

#main-header h1 {
  font-family: 'Averia Libre', cursive;
}


#main-header .p-4 a {
  position: relative;
  display: inline-block;
  padding: 15px 30px;
  color: #fff;
  letter-spacing: 2px;
  text-decoration: none;
  font-size: 24px;
  overflow: hidden;
  transition: 0.2s;
}

#main-header .p-4 a:hover { 
  color: #fff;
  background: #2196f3;
  border-radius: 20px;
  box-shadow: 0 0 10px #fff, 0 0 40px #2196f3, 0 0 80px #fff;
  transition-delay: 1s;
}

#main-header .p-4 a span {
  position: absolute;
  display: block;
}

#main-header .p-4 a span:nth-child(1)
{
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg,transparent,#fff);
}

#main-header .p-4 a:hover span:nth-child(1)
{
  left: 100%;
  transition: 1s;
}

#main-header .p-4 a span:nth-child(3)
{
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent,#fff);
}

#main-header .p-4 a:hover span:nth-child(3)
{
  right: 100%;
  transition: 1s;
  transition-delay: 0.5s;
}


#main-header .p-4 a span:nth-child(2)
{
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent,#2196f3);
}

#main-header .p-4 a:hover span:nth-child(2)
{
  top: 100%;
  transition: 1s;
  transition-delay: 0.25s;
}


#main-header .p-4 a span:nth-child(4)
{
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent,#2196f3);
}

#main-header .p-4 a:hover span:nth-child(4)
{
  bottom: 100%;
  transition: 1s;
  transition-delay: 0.75s;
}









#main-header .port-item:hover {
  opacity: 0.8;
  cursor: pointer;
  background: #000;
  color: #fff;
}

.bg-black {
  color: #fff;
  background: #000;
}

@media (min-width: 1199px) {
  .port-item {
    padding: 3em !important;
  }
}


/*  OUR WORKS */
  
.single-works {
  margin-bottom: 40px;
  overflow: hidden;
  position: relative;
  transition: all 0.3s ease 0s;
  box-shadow: 5px 5px 15px #000;
}

.single-works img {
  width: 100%;
  height: auto;
}

.single-works .title {
  font-size: 25px;
  font-weight: 900;
  color: #ffffff;
  margin: 0 0 15px 0;
}

.overlay-text .post {
  display: block;
  font-weight: 600;
  font-size: 20px;
  color: #fff;
}

.single-works .overlay-text {
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #fff;
  background: rgba(0, 0, 0, 0.8);
  text-align: center;
  padding-top: 20%;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.6s ease 0s;
}

.single-works .overlay-text:before {
  border-left: 1px solid rgba(255, 255, 255, 0.9);
  border-right: 1px solid rgba(255, 255, 255, 0.9);
  left: 30px;
  right: 30px;
}

.single-works .overlay-text:after {
  border-top: 1px solid rgba(255, 255, 255, 0.9);
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  top: 30px;
  bottom: 30px;
}

.single-works .overlay-text:before,   .single-works .overlay-text:after {
  content: '';
  position: absolute;
  top: 20px;
  left: 20px;
  bottom: 20px;
  right: 20px;
  opacity: 0;
  z-index: 1;
  transform: scale(1.5);
  transition: all 0.6s ease 0.2s;
}  

.single-works:hover {
  transform: translateY(-8px);
}

.single-works:hover .overlay-text {
  opacity: 1;
}

.single-works:hover .overlay-text:before,
.single-works:hover .overlay-text:after {
  opacity: 1;
  transform: scale(1);
}
